<div class="container">
  <div class="row">

    <form (ngSubmit)="onSubmit()"
          class="form-horizontal">

      <div class="form-group">
        <label for="title" 
               class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" 
                 class="form-control" 
                 id="title" 
                 name="title" 
                 placeholder="Title"
                 [(ngModel)]="newPin.title">
        </div>
      </div>

      <div class="form-group">
        <label for="description" 
               class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <input type="text" 
                 class="form-control" 
                 id="description" 
                 name="description" 
                 placeholder="Description"
                 [(ngModel)]="newPin.description">
        </div>
      </div>

      <div class="form-group">
        <label for="url" 
               class="col-sm-2 control-label">Link URL</label>
        <div class="col-sm-10">
          <input type="text" 
                 class="form-control" 
                 id="url" 
                 name="url" 
                 placeholder="Link URL"
                 [(ngModel)]="newPin.url">
        </div>
      </div>

      <div class="form-group">
        <label for="url" 
               class="col-sm-2 control-label">Image URL</label>
        <div class="col-sm-10">
          <input type="text" 
                 class="form-control" 
                 id="url" 
                 name="url" 
                 placeholder="Image URL"
                 [(ngModel)]="newPin.src">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" 
                  class="btn btn-default" 
                  >Submit</button>
        </div>
      </div>
      <div *ngIf="saving">
        Saving...
      </div>
    </form>
    

  </div>
</div>

